body {
    font-family: 'Fantasy';
    background-color: #9c9c9c;
    text-align: center;
    align-items: center;

}
h1{
    
}
.pudelko{
    border: double black 10px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    width: 60%;
    height: 200px;
    background-color: #ebebeb;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li 
{
    display: inline;
}